.App {
  text-align: center;
  max-width:70vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.dontdisplay{
  display:none !important;
}
.dodisplay{
  display:block !important;
}
.dodisplayflex{
  display:flex;
  justify-content:center;
  align-items:center;
}


.makeStyles-drawerHeader-8{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 25px;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  max-width: 300px !important;
}

#MuiSlider-root {
  /* slider color HERE */
  /* color: #3f51b5;  */
  width: 236px !important;
}

#makeStyles-root-153 {
  width: 475px !important;
  display: flex !important;
  margin-top: 3px;
}
.input-slider {
  width: 170px !important;
}

#GraphWhiteSpace{
  margin-top: -90px;
}
#pointerFinger:hover{
  cursor: help;
}
